<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Racer | {{ title }}</title>

    <!-- VENDOR -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js" crossorigin="anonymous" defer></script>
    <!-- END VENDOR -->

    <link rel="stylesheet" href="/assets/css/style.css" crossorigin="anonymous"/>
    <script type="text/javascript" src="/assets/js/script.js" crossorigin="anonymous"></script>
</head>

<body>

    {{{ body }}}

</body>

</html>